# Файлы, игнорируемые по умолчанию
/shelf/
/workspace.xml
venv/
.env/
__pycache__/
*.py[cod]
*.log
*.tmp
*.swp
.idea/
.gigaidea/
.example/
.ExpenseTracker-main/
.kek/
*.pyc
*.pyo
*.pyd
.env
*.env
stratosphere_data_preprocessing_and_model_training.ipynb
scaler_y.pkl
scaler_x.pkl
model.pth
main.txt
exp4.json
emulator.py
data.db
